# ==============================

# Python

# ==============================

**pycache**/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environments

.venv/
venv/
env/

# Environment variables / secrets

.env
.env.*
!.env.example

# ==============================

# Testing / Coverage

# ==============================

.coverage
htmlcov/

# ==============================

# Terraform

# ==============================

.terraform/

# Terraform state

*.tfstate
*.tfstate.*

# Terraform variable files

*.tfvars
*.tfvars.json

# Terraform crash logs

crash.log
crash.*.log

# Terraform override files

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ==============================

# Secrets / Private Keys

# ==============================

*.pem
*.key

# ==============================

# IDE / Editor

# ==============================

.vscode/
.idea/

# ==============================

# macOS

# ==============================

.DS_Store

# ==============================

# Logs

# ==============================

*.log

# ==============================

# Docker

# ==============================

docker-compose.override.yml
